.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side */
.a-left {
  gap: 2rem;
}

.a-left > img {
  width: 4rem;
  height: 4rem;
}

.Webname > h1 {
  /* we will make text transparent and use background image as
    text  */
  font-size: 3rem;
  background-color: red;
  background-image: var(--buttonBg);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Webname > h6 {
  font-size: 0.85rem;
}

.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 100%;
}

.infoButton {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}

.infoButton:disabled {
  border: 1px solid gray !important;
}

.authForm {
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
}

.authForm > div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.changeForm:hover {
  cursor: pointer;
  text-decoration: underline;
}

.changeForm:disabled {
  pointer-events: none;
}
